<html lang="ru">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>Ошибка 403 Нет доступа</title>
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='error.css') }}" />


</head>

<body>

	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h3>Упс!</h3>
				<h1><span>4</span><span>0</span><span>3</span></h1>
			</div>
			<h2>К запрашиваемой Вами странице, нет доступа</h2>
		</div>
	</div>

</body>

</html>
