<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Студенческие группы</title>
    {% include 'public/_header.html' %}
</head>
<body>
{% include 'public/_menu.html' %}
<div class="container">
    <h2>Список студенческих групп</h2>
    <table>
        <thead>
        <tr>
            <th>Учебный год</th>
            <th>Курс</th>
            <th>Семестр</th>
            <th>Группа</th>
        </tr>
        </thead>
        <tbody>
        {% for g in stud_groups %}
        <tr>
            <td>{{ g.year_print }}</td>
            <td>{{ g.course }}</td>
            <td>{{ g.semester }}</td>
            <td><a href="{{url_for('stud_group', id=g.id)}}">{{ g.num_print }}</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div>
        <a href="{{url_for('stud_group', id='new')}}" class="btn btn-primary">Добавить группу</a>
    </div>
</div>
</body>
</html>