<!DOCTYPE html>
<html lang="ru">
<head>
    {% from "public/_macros_bootstrap" import bootstrap_form_input, bootstrap_form_button with context %}
    <meta charset="UTF-8">
    <title>Студенческая группа</title>
    {% include 'public/_header.html' %}
</head>
<body>
{% include 'public/_menu.html' %}
<div class="container">
    <h2>Студент</h2>
    <h3>Информация</h3>
    <form method="post">
        {{ bootstrap_form_input(form.year) }}
        {{ bootstrap_form_input(form.semester) }}
        {{ bootstrap_form_input(form.num) }}
        {{ bootstrap_form_input(form.subnum) }}
        {% if group.id %}
        {{ bootstrap_form_button(form.button_delete, class_="btn btn-danger") }}
        {% endif %}
        {{ bootstrap_form_button(form.button_save, class_="btn btn-success") }}
    </form>
    {% if group.id %}
    <table class="table">
        <tr>
            <th>Учебный год</th>
            <td>{{ group.year_print }}</td>
        </tr>
        <tr>
            <th>Курс</th>
            <td>{{ group.course }}</td>
        </tr>
        <tr>
            <th>Семестр</th>
            <td>{{ group.semester }}</td>
        </tr>
        <tr>
            <th>Группа</th>
            <td>{{ group.num_print }}</td>
        </tr>
    </table>

    <h3>Список студентов</h3>
    <table class="table">
        <thead>
        <tr>
            <th>Студ. билет №</th>
            <th>ФИО</th>
        </tr>
        </thead>
        <tbody>
        {% for s in group.students %}
        <tr>
            <td>{{ s.id }}</td>
            <td><a href="{{ url_for('student', group_id=s.id) }}">{{ s.full_name }}</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
</body>
</html>