<!DOCTYPE html>
<html lang="ru">
<head>
    {% from "public/_macros_bootstrap" import bootstrap_form_input, bootstrap_form_button with context %}
    <meta charset="UTF-8">
    <title>Студент</title>
    {% include 'public/_header.html' %}
</head>
<body>
{% include 'public/_menu.html' %}
<div class="container">
    <h2>Студент</h2>
    <h3>Информация</h3>
    <form method="post" id="formStudent">
        {{ bootstrap_form_input(form.id) }}
        {{ bootstrap_form_input(form.surname) }}
        {{ bootstrap_form_input(form.firstname) }}
        {{ bootstrap_form_input(form.middlename) }}
        {{ bootstrap_form_input(form.stud_group) }}
        {{ bootstrap_form_input(form.semester) }}
        {{ bootstrap_form_input(form.alumnus_year) }}
        {{ bootstrap_form_input(form.expelled_year) }}
        {% if student.id %}
        {{ bootstrap_form_button(form.button_delete, class_="btn btn-danger") }}
        {% endif %}
        {{ bootstrap_form_button(form.button_save, class_="btn btn-success") }}
    </form>
</div>
<script type="text/javascript">
    /*Вставка javascript скрыть семестр, год выпуска и отчисления, если указана группа*/
    $(document).ready(function () {
        var input_stud_group = $('#formStudent select[name=stud_group]');
        var input_semester_parent = $('#formStudent input[name=semester]').parent().parent();
        var input_alumnus_year_parent = $('#formStudent input[name=alumnus_year]').parent().parent();
        var input_expelled_year_parent = $('#formStudent input[name=expelled_year]').parent().parent();

        input_stud_group.change(function () {
            if (input_stud_group.val() === "__None") {
                input_semester_parent.show();
                input_alumnus_year_parent.show();
                input_expelled_year_parent.show();
            } else {
                input_semester_parent.hide();
                input_alumnus_year_parent.hide();
                input_expelled_year_parent.hide();
            }
        });
        input_stud_group.change();
    });
</script>
</body>
</html>