<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Список предметов</title>
    {% include 'public/_header.html' %}
</head>
<body>
{% include 'public/_menu.html' %}
<div class="container">
    <h2>Список предметов</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Название</th>
        </tr>
        </thead>
        <tbody>
        {% for s in subjects %}
        <tr>
            <td><a href="{{ url_for('subject', subject_id=s.id) }}">{{ s.name }}</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="container">
        <a href="{{ url_for('subject', subject_id='new') }}" class="btn btn-primary">Добавить предмет</a>
    </div>
</div>
</body>
</html>