<!DOCTYPE html>
<html lang="ru">
<head>
    {% from "public/_macros_bootstrap" import bootstrap_form_input, bootstrap_form_button with context %}
    <meta charset="UTF-8">
    <title>Предмет</title>
    {% include 'public/_header.html' %}
</head>
<body>
{% include 'public/_menu.html' %}
<div class="container">
    <h2>Предмет</h2>
    {% if subject.id %}
    <h3>{{ subject.name }}</h3>
    {% endif %}
    <form method="post">
        {{ bootstrap_form_input(form.name) }}
        {% if subject.id %}
        {{ bootstrap_form_button(form.button_delete, class_="btn btn-danger") }}
        {% endif %}
        {{ bootstrap_form_button(form.button_save, class_="btn btn-success") }}
    </form>

</div>
</body>
</html>