<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}" media="screen"/>
<script src="{{ url_for('static', filename='popper/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='jquery/jquery-3.3.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/bootstrap.tabs.links.js') }}"></script>
