    <!-- Modal Submit -->
    <div class="modal" id="modalSubmit" tabindex="-1" role="dialog" aria-labelledby="modalSubmitTitle" aria-hidden="true" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" style="width: auto;">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalSubmitTitle">Отправка данных</h5>
                </div>
                <div class="modal-body">
                    <h2>Пожалуйста, подождите...</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- End modal Submit -->