        <dl class="row">
            <dt class="col-lg-3 col-12 text-left text-lg-right">
                Ф.И.О.:
            </dt>
            <dd class="col-lg-3 col-12">
                {% if current_user.admin_user and current_user.admin_user.active %}
                <a href="{{ url_for('student', id=student.id) }}">{{ student.full_name }}</a>
                {% else %}
                {{ student.full_name }}
                {% endif %}
            </dd>
            {% if student.stud_group %}
                <dt class="col-lg-3 col-12 text-left text-lg-right">
                    Курс:
                </dt>
                <dd class="col-lg-3 col-12">
                    {{ student.stud_group.course }}
                </dd>
                <dt class="col-lg-3 col-12 text-left text-lg-right">
                    Семестр:
                </dt>
                <dd class="col-lg-3 col-12">
                    {{ student.stud_group.semester }}
                </dd>
                <dt class="col-lg-3 col-12 text-left text-lg-right">
                    Группа:
                </dt>
                <dd class="col-lg-3 col-12">
                    {% if student.stud_group.get_rights(current_user)["write"] %}
                    <a href="{{ url_for('stud_group', id=student.stud_group.id, _anchor='curriculum_units') }}">
                        {{ student.stud_group.num }}
                    </a>
                    {% elif student.stud_group.get_rights(current_user)["read_marks"] %}
                    <a href="{{ url_for('att_marks_report_stud_group', id=student.stud_group.id) }}">
                        {{ student.stud_group.num }}
                    </a>
                    {% elif student.stud_group.get_rights(current_user)["read_list"] %}
                    <a href="{{ url_for('stud_group_leader', id=student.stud_group.id) }}" title="Сведения о старосте и кураторе группы">
                        {{ student.stud_group.num }}
                    </a>
                    {% else %}
                        {{ student.stud_group.num }}
                    {% endif %}
                    {% if student.stud_group_subnum %}
                        ({{ student.stud_group_subnum }})
                    {% endif %}
                </dd>
                <dt class="col-lg-3 col-12 text-left text-lg-right">
                    Направление / специальность:
                </dt>
                <dd class="col-lg-9 col-12">
                    {{ student.stud_group.specialty.full_name }}
                </dd>
            {% else %}
                {% if student.semester %}
                    <dt class="col-lg-3 col-12 text-left text-lg-right">
                        Курс:
                    </dt>
                    <dd class="col-lg-3 col-12">
                        {{ student.course }}
                    </dd>
                    <dt class="col-lg-3 col-12 text-left text-lg-right">
                        Семестр:
                    </dt>
                    <dd class="col-lg-3 col-12">
                        {{ student.semester }}
                    </dd>
                {% endif %}
                {% if student.alumnus_year %}
                    <dt class="col-lg-3 col-12 text-left text-lg-right">
                        Год выпуска:
                    </dt>
                    <dd class="col-lg-3 col-12">
                        {{ student.alumnus_year }}
                    </dd>
                {% endif %}
                {% if student.expelled_year and student.status == 'expelled' %}
                    <dt class="col-lg-3 col-12 text-left text-lg-right">
                        {{ 'Отчислена' if student.person.gender == 'W' else 'Отчислен' }} в
                    </dt>
                    <dd class="col-lg-3 col-12">
                        {{ student.expelled_year }} году
                    </dd>
                {% endif %}
                {% if student.expelled_year and student.status == 'academic_leave' %}
                    <dt class="col-lg-3 col-12 text-left text-lg-right">
                        В академическом отпуске с
                    </dt>
                    <dd class="col-lg-3 col-12">
                        {{ student.expelled_year }} года
                    </dd>
                {% endif %}

            {% endif %}
        </dl>