<!DOCTYPE html>
<html lang="ru">
<head>
    {% from "_macros_bootstrap" import bootstrap_form_input, bootstrap_form_button with context %}
    <meta charset="UTF-8">
    <title>Посещаемость</title>
    {% include '_header.html' %}
</head>
<body>
    {% include '_menu.html' %}
    <div class="container-fluid text-center">
        <div class="row border-bottom border-top">
            <div class="col">
                <h1>Посещаемость</h1>
            </div>
        </div>
        <div class="row border-bottom border-top">
            <div class="col-1">
                <a href="{{url_for('print_excel')}}">
                    <i class="fas fa-file-excel fa-2x bg-success"></i>
                </a>
                <a href="{{url_for('print_pdf')}}">
                    <i class="fas fa-file-pdf fa-2x bg-danger"></i>
                </a>
            </div>
            <div class="col">
                <label>
                    <select>
                        {% for i in range(1, 5) %}
                            {% if i != course %}
                                <option>{{i}} курс</option>
                            {% else %}
                                <option selected>{{i}} курс</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </label>
            </div>
            <div class="col">
                <label>
                    <select>
                        {% for group in groups %}
                            <option>{{group.num_print}} группа</option>
                        {% endfor %}
                    </select>
                </label>
            </div>
            <div class="col">
                <label>
                    <select>
                        {% for lesson in lesson_type.value %}
                            <option>{{lesson}}</option>
                        {% endfor %}
                        <option>Лекции</option>
                        <option>Практики</option>
                        <option>Семинары</option>
                    </select>
                </label>
            </div>
            <div class="col">
                <label>
                    <select>
                        <option>Язык С++</option>
                        <option>Язык С++</option>
                        <option>Язык С++</option>
                        <option>Язык С++</option>
                    </select>
                </label>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr> <!-- сюда помещается 13 дат -->
                    <th scope="col">ФИО студента/Дата проведения занятия</th>
                    <th scope="col">15.01.17</th>
                    <th scope="col">15.01.17</th>
                    <th scope="col">15.01.17</th>
                    <th scope="col">15.01.17</th>
                    <th scope="col">15.01.17</th>
                    <th scope="col">15.01.17</th>
                    <th scope="col">15.01.17</th>
                    <th scope="col">15.01.17</th>
                    <th scope="col">15.01.17</th>
                    <th scope="col">15.01.17</th>
                    <th scope="col">15.01.17</th>
                    <th scope="col">15.01.17</th>
                    <th scope="col">15.01.17</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                    <tr>
                        <td>{{student.full_name}}</td>
                        <td>+</td>
                        <td>+</td>
                        <td>-</td>
                        <td>+</td>
                        <td>+</td>
                        <td>-</td>
                        <td>+</td>
                        <td>+</td>
                        <td>-</td>
                        <td>+</td>
                        <td>+</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>