<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>ВГУ ФКН Балльно-рейтинговая система</title>
    {% include '_header.html' %}
</head>
<body>
    {% if current_user.is_authenticated %}
    {% include '_menu.html' %}
    {% endif %}
    <div class="container">
        <h2>Справка для преподавателей</h2>
        <div class="p-3 text-justify">
            <h3>Вход</h3>
            <ol>
                <li>Для входа в систему в качестве преподавателя необходимо выбрать на странице авторизации тип входа "По E-mail" и ввести ваш e-mail.</li>
                <li>Если введённый E-mail присутствует в базе данных, то на него придёт письмо с шестизначным кодом подтверждения. Если же появляется ошибка <span class="d-inline invalid-feedback">Пользователя с таким e-mail не существует</span>, то проверьте правильность написания e-mail или напишите письмо на <a href="mailto:{{ config.MAIL_SUPPORT }}">{{ config.MAIL_SUPPORT }}</a>.</li>
                <li>Шестизначный код, присланный на e-mail введите в поле формы входа в течение трёх минут. Если Вы не успели ввести проверочный код за 3 минуты, то повторите вход в систему заново.</li>
                <li>Если за вашей учётной записью закреплены аттестационные ведомости, доступные для редактирования, то при успешном входе в систему Вам будет отправлено на e-mail дополнительное уведомление.</li>
            </ol>
        </div>
        <div class="p-3 text-justify">
            <h3>Личный кабинет преподавателя</h3>
            <ol>
                <li>При успешной авторизации появляется страница "Личный кабинет преподавателя". На данной странице отображается список преподаваемых Вами дисциплин в студенческих группах бакалавриата и специалитета ФКН. Если вы считаете, что данный список некорректный, то напишите письмо на <a href="mailto:{{ config.MAIL_SUPPORT }}">{{ config.MAIL_SUPPORT }}</a></li>
                <li>При нажатии на название дисциплины, появляется страница с возможностью указания преподавателя практических занятий для данной группы. Также можно установить галочками какие поля ведомости (аттестация 1, 2, 3, экзамен, доп. балл) может без вашего участия редактировать преподаватель практических занятий.</li>
                <li>При нажатии на тип отчётности (зачёт, экзамен, зачёт с оценкой), открывается аттестационная ведомость для данной группы.</li>
            </ol>
        </div>
        <div class="p-3 text-justify">
            <h3>Аттестационная ведомость</h3>
            <ol>
                <li>Для каждого этапа аттестации (1, 2, 3) необходимо для каждого студента заполнить поле с оценкой по шкале от 0 до 50 баллов:
                    <ul>
                        <li><b>0 баллов</b> &mdash; неявка;</li>
                        <li><b>от 1 до 24 баллов</b> &mdash; неудовлетворительно;</li>
                        <li><b>от 25 до 34 баллов</b> &mdash; удовлетворительно;</li>
                        <li><b>от 35 до 44 баллов</b> &mdash; хорошо;</li>
                        <li><b>от 45 до 50 баллов</b> &mdash; отлично.</li>
                    </ul>
                </li>
                <li>Имеется возможность смены заполнения поля с оценкой клавишей Tab.</li>
                <li>Не забывайте нажать кнопку "Сохранить" после заполнения ведомости.</li>
                <li>Кнопкой "печать" можно сформировать ведомость для себя в формате документа OpenOffice. Но бумажная ведомость для промежуточных аттестаций НЕ ТРЕБУЕТСЯ.</li>
                <li>Имеется возможность просматривать историю изменения оценок в ведомости по отдельной записи и по всей ведомости на определённое время.</li>
            </ol>
        </div>
        <div class="p-3 text-justify">
            <h3>Итоговая ведомость</h3>
            После заполнения всех трёх аттестаций и перехода ведомости в сотояние <b>Итог</b> выполните следующие действия:
            <ol>
                <li>Для типа очётности <b>зачёт с оценкой</b> заполните поле дополнительный балл от 0 до 10 у студетов, имеющих оценки от 25 баллов за все три аттестации.</li>
                <li>Для типа очётности <b>экзамен</b> заполните оценку за экзамен от 0 до 50 баллов (ноль баллов соответствует неявке на экзамен) и дополнительный балл от 0 до 10 (для студентов, получивщих оценку от 25 баллов за экзамен).</li>
                <li>После окнчательного заполнения ведомости кнопкой "печать" сформируйте ведомость, распечатайте бумажный документ, поставьте подпись напротив каждой оценки. Если у вас отсутствует возможность самостоятельной печати документа, то обратитесь к секретарю вашей кафедры (для преподавателей ФКН) или деканат ФКН (для преподавателей других факультетов).</li>
                <li>Напечатанную и подписанную бумажную ведомость сдайте секретарю вашей кафедры, если вы преподаватель ФКН. Если вы преподаватель другого факультета, то сдайте ведомость секретарю ФКН &mdash; Микертумовой Ирине Валериевне.</li>
            </ol>
            Обратите внимание:
            <ol>
                <li>Для типов очётности <b>зачёт</b> и <b>зачёт с оценкой</b>. Если студет получил хотя бы за одну аттестацию меньше 25 баллов, то ему автоматически выставляется <b>не зачтено</b>(для обычного зачёта) или <b>неудовлетворительно</b>(для зачёта с оценкой). Если за 3-ю аттестацию студент получил <b>ноль баллов</b>, то ему автоматически выставляется <b>неявка</b>. Если же студент присутствовал на зачёте, то ему необходимо за 3-ю аттестацию поставить хотя бы один балл.</li>
                <li>Для типа очётности <b>экзамен</b>. Если студент получил за экзамен ноль баллов, то ему автоматически выставляется <b>неявка</b>. Если же студент присутствовал на экзамене, то ему необходимо за экзамен поставить хотя бы один балл.</li>
                <li>После сдачи бумажной ведомости на кафедру или в деканат редактирование оценок в данной системе не допускается.</li>
            </ol>
        </div>
        <div class="p-3">
            <h3>Дополнительная информация:</h3>
			<a href="{{ url_for('static', filename='docs/state-2024-05-30.pdf') }}" target="_blank">Положение о текущей и промежуточной аттестации знаний, умений и навыков обучающихся на факультете компьютерных наук воронежского государственного университета с использованием балльно-рейтинговой системы</a>
		</div>
		<div class="p-3">
			По вопросам, связанным с работой программы, можно писать на <a href="mailto:{{ config.MAIL_SUPPORT }}">{{ config.MAIL_SUPPORT }}</a>
		</div>
    </div>
</body>
</html>