<html lang="ru">
<head>
    {% from "_macros_bootstrap" import bootstrap_form_input, bootstrap_form_button with context %}
    <meta charset="UTF-8">
    <title>ВГУ ФКН Балльно-рейтинговая система</title>
    {% include '_header.html' %}
    <script src="{{ url_for('static', filename='jquery.maskedinput/jquery.maskedinput.js') }}"></script>
    <script src="{{ url_for('static', filename='phone_format.js') }}"></script>
</head>
<body>
    <div class="container">
        <h2>Воронежский государственный университет</h2>
        <h2>Факультет компьютерных наук</h2>
        <h2>Балльно-рейтинговая система</h2>
        <h3>Вход</h3>
        <div class="navbar navbar-expand-lg navbar-light bg-light">
            <span class="navbar-brand">Тип входа:</span>
            <ul class="navbar-nav">
              <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('login', next=request.args.get('next', None)) }}">По учётным данным как в классах ФКН</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('login_email', next=request.args.get('next', None)) }}">По E-mail</a>
              </li>
              <li class="nav-item active">
                <span class="nav-link font-weight-bold">По номеру телефона</span>
              </li>
            </ul>
        </div>
        <form method="post" id="loginSMSForm">
    	    {% autoescape false %}
            {{ bootstrap_form_input(form.phone) }}
            {{ bootstrap_form_input(form.temporary_entrance) }}
            {% if wait_sec == None %}
            {{ bootstrap_form_button(form.button_send_sms, class_="btn btn-info") }}
            {% else %}
            {{ bootstrap_form_input(form.code) }}
            {{ bootstrap_form_button(form.button_login, class_="btn btn-info") }}
            {% endif %}
            {% endautoescape %}
        </form>
        {% if wait_sec != None %}
        <p id="timer_text" class="text-info">
            Введите код из SMS с номера {{ config['SMS_SENDER'] }}. Запросить новый код можно через:
            <span id="timer"></span>
        </p>
        {% endif %}
        {% if wait_sec == None %}
        <p class="font-weight-bold"><span class="bg-warning p-1">Вход по SMS доступен только для преподавателей и студентов, указавших в профиле номер телефона.</span></p>
        <p class="font-weight-bold">Не удалось войти? Пишите:</p>
        <p>Для студентов: <a href="mailto:csadmins@sc.vsu.ru">csadmins@sc.vsu.ru</a></p>
        <p>Для преподавателей: <a href="mailto:{{ config.MAIL_SUPPORT }}">{{ config.MAIL_SUPPORT }}</a></p>
        {% endif %}
    </div>
    <script>
        $(document).ready(function(evt){
            $('#loginSMSForm').submit(function(){
                var i_submit = $('#loginSMSForm input[type=submit]')
                var i_hidden = $('<input type="hidden"/>');
                i_submit.attr('disabled', 'disabled');
                i_hidden.attr('name', i_submit.attr('name'));
                i_hidden.val(i_submit.val());
                $('#loginSMSForm').append(i_hidden);
            });
        });
    </script>
    {% if wait_sec != None %}
    <script>

        var wait_sec = {{ wait_sec }};
        var stop_time = (new Date()).valueOf() + (wait_sec * 1000);
        var timer_handler =
        setInterval(function(){
            dt_diff = Math.floor((stop_time - (new Date()).valueOf())/1000);
            if (dt_diff >= 0){
                var m = Math.floor(dt_diff/60);
	            var s = dt_diff % 60;
	            $('#timer').text((m<10 ? '0' :'')+m.toString()+':'+(s<10 ? '0' :'')+s.toString());
            }
            else
            {
                clearInterval(timer_handler);
                var t_text = $('#timer_text');
                t_text.empty();
                t_text.text("Время ожидания истекло. ");
                $('#code').attr('disabled', 'disabled');
                $('#button_login').attr('disabled', 'disabled');
                var a = $("<a></a>");
                a.text("Войти заново");
                a.attr('href', '{{ url_for('login_sms') }}');
                t_text.append(a);
            }
        }, 500);

    </script>
    {% endif %}
</body>
</html>