<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Профиль пользователя</title>
    {% include '_header.html' %}
</head>
<body>
    {% include '_menu.html' %}
    <div class="container-fluid">
        <h2>ВГУ ФКН БРС Профиль</h2>

        <h3>
            {% if current_user.admin_user != None and current_user.admin_user.active %}
                <a href="{{ url_for('person', id=person.id) }}">{{ person.full_name }}</a></h3>
            {% else %}
                {{ person.full_name }}
            {% endif %}
            {% if current_user.id == person.id and person.roles_all|length > person.roles_active|length %}
                <small class="ml-3"><a href="{{ url_for('index', show_all_roles=True) }}">Все учётные записи &#8594;</a></small>
            {% endif %}
        </h3>
        {% if form_allow_jwt_auth %}
        <hr>
        <h4>Согласие на поручение оператором (ФГБОУ ВО «Воронежский государственный университет» - далее «Университет») другому лицу (ООО «Цифровые Технологии») обработки персональных данных</h4>
        <form method="post">
    	    {% autoescape false %}
            <div class="form-group row my-3">
                <div class="col-3 col-sm-1">
                    {{ form_allow_jwt_auth.allow_jwt_auth(class_="form-control") }}
                </div>
                <div class="col-9 col-sm-11 col-form-label font-weight-bold">
                    Активируя чекбокс, Пользователь дает свое согласие в форме электронного документа на поручение оператором другому лицу обработки своих персональных данных на следующих условиях:
                </div>
            </div>
            {% endautoescape %}
        </form>
        <div class="col-12 text-justify mb-5">
            <p>В соответствии со статьей 9 Федерального закона от 27.07.2006 N 152-ФЗ "О персональных данных", <b>в целях:</b></p>
            <p>1. осуществление деятельности Университета по реализации процедур организационного и информационного обеспечения и мониторинга учебного процесса;</p>
            <p>2. обеспечения формирования набора данных об этапах обучения и достижениях обучающихся при их обучении в Университете;</p>
            <p>3. предоставления обучающемуся, его законным представителям, иным Пользователям, с согласия обучающегося, информации о текущей успеваемости обучающегося в Университете в электронном формате;</p>
            <p>4. организации учета посещаемости учебных занятий в Университете;</p>
            <p>5. анализ поведения Пользователя, а также выявления предпочтений Пользователя к определенному виду контента;</p>
            <p>6. для оперативной и корректной работы Приложения, улучшения функционирования работы, контента, внутренней архитектуры и функциональности Приложения;</p>
            <p>7. для идентификации Пользователя;</p>
            <p>8. для соблюдения требований Закона;</p>
            <p>9. для технической поддержки Приложения, выявления проблем в его работе и их устранение;</p>
            <p>10. для поддержания связи с Пользователем (коммуникация);</p>
            <p>11. для любых других целей, при условии получения отдельного согласия от Пользователя.</p>
            <p class="font-weight-bold">Пользователь дает согласие на обработку своих персональных данных, а именно:</p>
            <p>(А) Для Обучающихся:</p>
            <ul>
                <li>ФИО;</li>
                <li>Дата рождения;</li>
                <li>Пол;</li>
                <li>СНИЛС;</li>
                <li>Номер студенческого билета;</li>
                <li>Учебный факультет;</li>
                <li>Код Учебной специальности;</li>
                <li>Ступень образования;</li>
                <li>Учебный курс;</li>
                <li>Учебная группа;</li>
                <li>Учебная подгруппа.</li>
                <li>Код предмета;</li>
                <li>Тип отчетности (зачет/оценка);</li>
                <li>Оценка/ зачет/незачет;</li>
                <li>Дата выставления оценки.</li>
                <li>Номер семестра, в котором выставлена оценка.</li>
                <li>Код предмета;</li>
                <li>Учебный курс;</li>
                <li>Оценка (при наличии);</li>
                <li>Форма обучения;</li>
                <li>Предмет;</li>
                <li>Оценка;</li>
                <li>Дата окончания (отчисления, выбытия);</li>
                <li>Участие в мероприятиях (олимпиадах, конкурсах, соревнованиях и т.д.):</li>
                <li>Название мероприятия;</li>
                <li>Статус мероприятия;</li>
                <li>Дата участия;</li>
                <li>Результаты участия;</li>
                <li>Присвоены разряды, звания.</li>
                <li>Прочие достижения;</li>
            </ul>
            <p>(Б) Для сотрудников Университета:</p>
            <ul>
                <li>ФИО;</li>
                <li>Пол;</li>
                <li>Дата рождения;</li>
                <li>Номер мобильного телефона;</li>
                <li>Адрес электронной почты (email);</li>
                <li>Ученое звание;</li>
                <li>Ученая степень;</li>
                <li>Образование;</li>
                <li>Квалификация;</li>
                <li>Должность, факультет, кафедра (по основному месту работы)</li>
            </ul>
            <p><b>то есть на совершение следующих действий:</b> любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных,</p>
            <p><b>не самим оператором</b> &mdash; Федеральное государственное бюджетное образовательное учреждение высшего образования «Воронежский государственный университет» , ИНН 3666029505, адрес: 394018, Россия, г. Воронеж, Университетская площадь, 1,</p>
            <p><b>а другим лицом</b> &mdash; ООО «Цифровые технологии», ИНН: 3666268630, адрес: 394036 Воронежская обл., г. Воронеж ул. Карла Маркса, д. 53, офис 23,</p>
            <p>в соответствии с <a href="https://www.consultant.ru/document/cons_doc_LAW_61801/6c94959bc017ac80140621762d2ac59f6006b08c/" rel="nofollow">ч. 3 ст. 6, ст. 9</a> Федерального закона от 27.07.2006 N 152-ФЗ "О персональных данных".</p>
            <p>Все вышеуказанные персональные данные субъектов обрабатываются в объеме и в сроки, предусмотренные соответствующими согласиями на обработку персональных данных, полученными оператором, в том числе, но не ограничиваясь, выраженными в тексте трудовых и гражданско-правовых договоров, и/или в нормативных правовых актах, и/или локальных нормативных актах оператора, и/или вытекающими из таких нормативных правовых актов и локальных нормативных актов оператора, либо в сроки, необходимые для достижения указанных целей.</p>
            <p>Настоящее согласие в отношении поручения оператором другому лицу обработки персональных данных действует для Обучающегося на весь период обучения в ФГБОУ ВО «Воронежский государственный университет» до момента выпуска, исключения, перевода в другую образовательную организацию, для Работника на весь период трудовых отношений с ФГБОУ ВО «Воронежский государственный университет».</p>
            <p>Пользователь осведомлен о праве отозвать настоящее согласие посредством составления соответствующего письменного документа, который может быть направлен в адрес оператора по почте заказным письмом с уведомлением о вручении, либо вручен лично под расписку представителю оператора.</p>
        </div>
        {% endif %}
    </div>
    {% if form_allow_jwt_auth %}
    <script>
        $('#allow_jwt_auth').change(function(evt){
            var f = evt.target.form;
            f.submit();
        });
    </script>
    {% endif %}
</body>
</html>